*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    background-color: #11d497;
}
.logo img{
    width: 50%;
    align-items: flex-end;
    border: 1px solid white;
    border-radius: 15px;
}
.busmap{
    font-family:Lucida Sans Unicode;
    font-size: 30px;
    font-weight: bold;

    margin-top: 20px;
}
body .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.icon-login img{
    width: 50%;
}
/* .icon-phone{
    padding-left: 50px;
} */
.login a{
    font-weight: bold;
    color: white;
}
.nav-bar{
    border-bottom: 1px solid #11d497;
}
.icon-bus{
    width: 60%;
}
.icon-watch{
    width: 80%;
}
.tuyenxe{
    background-color: rgb(241, 236, 236);
    border-radius: 10px;
}
.list-bus{
    border-right: 1px solid #11d497;
}
footer{
    background-color: #11d497;
}
.fb-icon{
    width: 80%;
}
.ins-icon{
    width: 100%;
}
.yt-icon{
    width: 70%;
}
.menu-nav:hover{
    background-color: #11d497;
}
.sotuyen{
    display: flex;
}
.sotuyen img{
    width: 15%;
}
.time-list{
    background-color: rgb(232, 235, 241);
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
}
.list-tb{
    background-color: rgb(232, 235, 241);
    height: 40px;
    border-radius: 5px;
}
.noidungthongbao{
    border: 1px solid;
    width: 100%;
    height: 100%;
}
.formbaocao{
    
    padding: 20px;
    margin-top: 20px;
}
*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    background-color: #11d497;
}
.logo img{
    width: 50%;
    align-items: flex-end;
    border: 1px solid white;
    border-radius: 15px;
}
.busmap{
    font-family:Lucida Sans Unicode;
    font-size: 30px;
    font-weight: bold;

    margin-top: 20px;
}
body .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.icon-login img{
    width: 60%;
}
#accounta{
    font-weight: bold;
    color: white;
    position: relative;
}
.nav-bar{
    border-bottom: 1px solid #11d497;
}
.icon-bus{
    width: 60%;
}
.icon-watch{
    width: 80%;
}
.tuyenxe{
    background-color: rgb(241, 236, 236);
    border-radius: 10px;
}
.list-bus{
    border-right: 1px solid #11d497;
}
footer{
    background-color: #11d497;
}
.fb-icon{
    width: 80%;
}
.ins-icon{
    width: 100%;
}
.yt-icon{
    width: 70%;
}
.menu-nav:hover{
    background-color: #11d497;
}
.taikhoan{
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
}
.account:hover .taikhoan{
    display: block;
    border: 1px solid;
}
.taikhoan li a{
    font-weight: bold;

}
.taikhoan li {
    list-style: none;;

}
.taikhoan li a:hover{
    background-color: rgb(45, 158, 250);
    text-decoration: none;
}

.home-row{
    display: block !important;
    align-items: center;
}